# Ignore all directories, and all sub-directories, and it's contents:

*/*
# Now ignore all files in the current directory. This fails to ignore files without a ".".
# For example 'file.txt' works, but 'file' doesn't.

*.*

# But don't ignore these specific directories and subdirectories:

!/conan
!/hooks
!/script
!/test

# But don't ignore these specific files:

!CMakeLists.txt
!CMakePresets.json

!**.adoc
!**.bat
!**.cmake
!**.cpp
!**.csv
!**.Dockerfile
!**.drawio
!**.err
!**.hpp
!**.html
!**.ico
!**.ini
!**.json
!**.md
!**.odt
!**.pdf
!**.png
!**.properties
!**.py
!**.sh
!**.sky
!**.sql
!**.txt
!**.xml
!**.yml
!**.yaml
!**.yml.example

# ...even if they are in subdirectories
!*/

# Ignore Allure runtime results/report
test/Automation/mktsimtest/tests/docker_compose_mktsim/allure_output/

# But make git ignore all cmake dev build directories,
cmake-build-*/

# cmake dev install directories,
cmake-install-*/

# and local development environment
devenv/*

# Ignore folder
.idea/*

# Ignore Python virtual environment
env/*

# Documentation test output
docs/*/output/

